 body{
 	background-color: #612B48;
 	color:rgb(50, 50, 50);
 	font-family: Lora;
 	font-size: 16px;
 	line-height: 1.1;
 	letter-spacing: 1px;
 	font-weight: 100;
 }

	h1,h2{

		color: #612B48;
		font-family: Lora
		font-size: 26px
}

 h1{
	padding: 30px;
	margin: 50px 50px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
 }

h2{
	font-weight:lighter;
	font-weight: 400;
}


 a:hover{
 	color: #612B48;
 }

a{
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;	
}


.box-white{
 background: #c19191;
 padding: 30px; 
 margin: 50px 50px; 
 box-shadow: 0px 10px 30px rgba(0,0,0,0.1); 
 border-radius: 50px; 
 border: 1px solid rgba(0, 0, 0, 0.1);
 text-align: center;
}

.img-circle {
 display: center;
 width: 100px;
 border-radius: 50%
}

.button {
	background-color: #aa7070;
	color:white;
	margin: 20px 20px; 
	padding: 5px 20px;
	border-radius:15px;

}

.container {
	width: 700px
	margin:40px auto;
}

.inline-list li{

	list-style: none;
	display: inline;
	padding: 10px
}

.inline-list i{
	font-size:50px;
	color: #612B48
}

.inline-list i:hover {
	font-size: 60px;
	color: #a43737
}
